*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
  padding: 40px;
}

.box{
  height: 20px;
  width: 30px;
  margin: 15px;
  background-color: blueviolet;
  color: cadetblue;
}

.Fizz{ contain: 'Fizz';}

.Buzz{ contain: 'Buzz';}

.FizzBuzz{ contain: 'FizzBuzz';}